<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="keywords" content="place you vote, space and time, vote, meeting scheduler, meeting scheduling, meeting, organiser, scheduling, schedule, agenda, maps, places, Android, mobile, Facebook plugin, doodle poll, meet-o-matic, timetable, calendar, appointment, date, coordinate, poll, meet, lunch, dinner, workshop, team, weekend, event, invitation, online" />
<meta name="description" content="placeUvote helps you to schedule meetings and other appointments, create polls related to places or just share your marked maps with friends. placeUvote is simple, quick, free and requires no registration. Simply set up a poll, send a link to all participants, watch progress online, and finally choose the most suitable place and date. like Doodle poll or meet-o-matic but with places, facebook plugin and mobile - Android client as well." />
<meta name="copyright" content="Apache licensed open source from placeUvote" />
<title>
{% block title %}
Page title
{% endblock %}
</title>
<link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" /> 
<link href="/media/puv.css" type="text/css" rel="stylesheet" />
{% block media %}{% endblock %}
<style type="text/css"><!-- body { padding: 0px; margin: 0px;} --></style>
</head>

<body id="usual">
<div id="header">
<h1>placeUvote</h1>
</div>
<!-- div id="headertick">&nbsp;</div -->


<div id="topnav">
{% block topnav %}
<ul>
<li><a href="/" class="link-on">Home</a></li>
<li><a href="/create/">Create a poll</a></li>
<li><a href="/vote/">Vote in polls</a></li>
<li><a href="/results/">Polls results</a></li>
</ul>
{% endblock %}
</div>

<div id="contents">
<div id="breadcrumbs">{% block crumbs %}{% endblock %}</div>

{% block contents %}
Main page content
{% endblock %}
</div>
<div id="topnavbottom"><p><a href="http://www.apache.org/licenses/LICENSE-2.0">apache 2.0 license</a> <img src="/media/copyleft.png" alt="copyleft" /> 2010 placeUvote  
<a href="https://bitbucket.org/edcrewe/placeuvote/issues/new">Feedback</a>
<a href="http://code.google.com/appengine/terms.html" style="float:right" ><img src="/media/gaelogo.gif" alt="Powered by Google App Engine" /></a>
</p></div>
</body>
</html>
