{% extends 'base.html' %}

{% block title %}
placeUvote Home
{% endblock %}

{% block contents %}
<div id="main">

<div id="content">
<h2>placeUvote home</h2>

<p><a href="/create/">Create a poll</a> or vote in an existing poll below,
see the example <a href="/poll/agpwbGFjZXV2b3RlcgwLEgRQb2xsGOr7Aww/">polls</a>
and <a href="/poll/agpwbGFjZXV2b3RlcgwLEgRQb2xsGLmUAQw/results/">results</a> on the right.</p>

<h3><a href="/create/">Create a poll</a></h3>

<p><strong>question ?</strong> Enter your name and the question you want decided, add your email to be mailed with a link to the poll.</p>

<p><strong>move -></strong> Type an address, country, landmark, post / zip code etc. in the address box, 
next to the map, and press 'all markers' -> Move to jump to your starting location. 
</p>

<p><strong>mark &#x2610;</strong> To create the poll just use the + / - buttons to add markers to the map and 
drag them into position, or use the address box again with the numbered marker selected. 
The nearest address is used if you do not enter one into the location box.<br />
If you wish you can paste links, as well as the choice name, into the marker numbered location boxes.</p>

<p><strong>date #</strong> If you are using placeUvote to arrange a meeting you can add some dates to choose from by clicking in the date box. Select from the calendar that pops up.</p>

<p><strong>vote &#x2611;</strong> When you are done you can tick if you want your poll private, anonymous or single choice only.
Now submit the poll and it is created. Tick to vote for your choices, and submit to see your first results.</p>

<h3><a href="/vote/">Vote in a recent poll</a></h3>
<ol>
{% for poll in polls %}
<li><a href="{{poll.get_absolute_url}}">{{poll.question}}</a>
<span class="markerinfo">created on {{poll.created_on|date}}</span>
</li>
{% endfor %}
{% if not polls %}<li>Sorry no public polls were found</li>{% endif %}
</ol>
</div>

<div id="advert">
<div id="questionadvert">
<p><a href="/poll/agpwbGFjZXV2b3RlcgwLEgRQb2xsGJnsAww/">Which hotel shall we stay in when we visit Naples?</a></p>
<p><a href="/poll/agpwbGFjZXV2b3RlcgwLEgRQb2xsGOr7Aww/">Where is the best graffiti in Bristol?</a></p> 
<p><a href="/poll/agpwbGFjZXV2b3RlcgwLEgRQb2xsGLmUAQw/results/">Lets meet up for a meal next month</a></p>
<p><a href="/poll/agpwbGFjZXV2b3RlcgwLEgRQb2xsGOHRBAw/">Which is the ugliest?</a></p>
</div>
<div id="whiteadvert">
<p>If you want to decide on somewhere, arrange a meeting from a choice of venues, or just share places with friends, you can decide together with placeUvote.</p>
<p>Its like <a href="http://www.doodle.com/">Doodle poll</a> or <a href="http://www.meetomatic.com">Meet-o-matic</a> but with locations too.</p>
<h4>Forthcoming Features:</h4>
<ul>
<li>Mobile Android client</li>
<li>Facebook plugin</li>
<li>OpenID registration for MyPolls management</li>
<li>HTML5 iPhone friendly version</li>
</ul>
</div>
</div>

</div>

{% endblock %}
