{% extends 'base.html' %}

{% block title %}
{{poll.question}} - results
{% endblock %}

{% block topnav %}
<ul>
<li><a href="/">Home</a></li>
<li><a href="/create/">Create a poll</a></li>
<li><a href="/vote/">Vote in polls</a></li>
<li><a href="/results/" class="link-on">Polls results</a></li>
</ul>
{% endblock %}

{% block crumbs %}<a href="/">Home</a>
&gt; <a href="/poll/{{poll.key}}/">Vote in poll {{poll.question}}</a>
&gt; Results of poll {{poll.question}}
{% endblock %}

{% block contents %}
<div class="poll">
<h5>{{poll.question}}</h5> 
<p class="markerinfo">Poll created on {{poll.created_on|date}}</p>
</div>

{% if choices %}
<br />
<table id="id_poll_location_results" summary="Ordered location results for poll {{poll.question}}">
<tr><th>votes</th><th>place</th>
{% if not poll.anonymous %}<th>voters</th>{% endif %}
</tr>
{% for choice in choices %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" id="id_location_{{ forloop.counter }}">
<td>{{choice.votes}}</td><td>{{ choice|safe }}</td>
{% if not poll.anonymous %}
<td>{% for voter in choice.voter_set %}{{ voter.created_by }}{% if not forloop.last %}, {% endif %}{% endfor %}
</td> 
{% endif %}
</tr>
{% endfor %}
</table>
{% endif %}

{% if dates %}
<br /><br />
<table id="id_poll_date_results" summary="Ordered date results for poll {{poll.question}}">
<tr><th>votes</th><th>date</th>
{% if not poll.anonymous %}<th>voters</th>{% endif %}
</tr>
{% for choice in dates %}
  <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" id="id_date_{{ choice.datetime|date:"Y-m-d" }}">
<td>{{choice.votes}}</td><td> {{ choice.datetime|date:"l, d F Y" }} </td>
{% if not poll.anonymous %}
<td>{% for voter in choice.voter_set %}{{ voter.created_by }}{% if not forloop.last %}, {% endif %}{% endfor %}
</td> 
{% endif %}
</tr>
{% endfor %}
</table>
{% endif %}

<p>Last vote cast on {{ poll.last_vote|date }}</p>
{% endblock %}
