{% extends 'base.html' %}

{% block title %}
{{poll.question}}
{% endblock %}

{% block media %}
{% for js in genjs %}
{{ js|safe }}
{% endfor %}
{% endblock %}

{% block topnav %}
<ul>
<li><a href="/">Home</a></li>
<li><a href="/create/">Create a poll</a></li>
<li><a href="/vote/" class="link-on">Vote in polls</a></li>
<li><a href="/results/">Polls results</a></li>
</ul>
{% endblock %}

{% block crumbs %}<a href="/">Home</a>
&gt; Vote in poll {{poll.question}}
&gt; <a href="/poll/{{poll.key}}/results/">Results of poll {{poll.question}}</a>
{% endblock %}

{% block contents %}
<div class="poll">
<h5>{{poll.question}}</h5> 
<p class="markerinfo">Poll created on {{poll.created_on|date}} by {{poll.created_by}}</p>
</div>
<form action="." method="post">
{% if not poll.anonymous %}
<fieldset>
<label>Your name:</label>
<input type="text" name="created_by"  size="40" id="id_created_by" value="{{ created_by }}" />
{% endif %}
{% if nochoice %}
<p>{{ nochoice.choice }}</p>
{% else %}
{% for choice in choices %}
<br /><img src="/media/marker/green{{ forloop.counter }}.png" alt="{{ forloop.counter }}. " /> <input type="{{ input_type }}" name="location" value="{{ choice.key }}" />
{{ choice|safe }}
</li>
{% endfor %}
{% endif %}
{% if dates %}
<ol>
{% for date in dates %}
<li class="choice"><input type="{{ input_type }}" name="date" value="{{ date.key }}" />
{{ date.datetime|date:"l, d F Y" }}</li>
{% endfor %}
</ol>
{% endif %}
<input type="submit" name="dovote" value="Choose" />
</fieldset>
</form>

<div id="map_default">
</div>

<br />

{% endblock %}
