{% extends 'base.html' %}

{% block title %}
placeUvote Results
{% endblock %}

{% block topnav %}
<ul>
<li><a href="/">Home</a></li>
<li><a href="/create/">Create a poll</a></li>
<li><a href="/vote/">Vote in polls</a></li>
<li><a href="/results/" class="link-on">Polls results</a></li>
</ul>
{% endblock %}

{% block crumbs %}<a href="/">Home</a>&gt; Select poll results{% endblock %}

{% block contents %}

<h5>Poll results</h5>

<ol>
{% for poll in polls %}
<li><a href="{{poll.get_absolute_url}}results">{{poll.question}}</a>
<span class="markerinfo">created on {{poll.created_on|date}}</span>
</li>
{% endfor %}
</ol>

{% endblock %}
