{% extends 'base.html' %}

{% block title %}
placeUvote Home
{% endblock %}


{% block topnav %}
<ul>
<li><a href="/">Home</a></li>
<li><a href="/create/">Create a poll</a></li>
<li><a href="/vote/" class="link-on">Vote in polls</a></li>
<li><a href="/results/">Poll results</a></li>
</ul>
{% endblock %}

{% block crumbs %}<a href="/">Home</a>&gt; Select poll to vote in{% endblock %}

{% block contents %}

<h5>Vote in a poll</h5>

<ol>
{% for poll in polls %}
<li><a href="{{ poll.get_absolute_url }}">{{poll.question}}</a>
<span class="markerinfo">created on {{poll.created_on|date}}</span>
</li>
{% endfor %}
</ol>

{% endblock %}
