#usual { padding: 0px; margin: 0px; 
         background-color:#ffffff; 
         font-family: Arial, Helvetica, Verdana, sans-serif; }
#header { font-size: 140%; margin: 0; padding: 0; 
          background: url(/media/mapbgdark.jpg) no-repeat left  top;  
          float: left; 
          height: 60px;
          width: 100%; 
          color: white;
         font-family: Arial, Helvetica, Verdana, sans-serif; }
#headertick { background: url(/media/tick.png) no-repeat right top; 
              float: right;   margin-top: 0px; 
              padding: 0 0 0 0;  overflow: hidden; } 
h1 {font-size: 140%; margin: 8px; padding: 0; 
    font-family: Arial, Helvetica, Verdana, sans-serif; }
h2 {font-family: Arial, Helvetica, Verdana, sans-serif; margin: 14px;}
h5 {font-size:110%; margin-bottom:0; margin-top:0;
    font-family: Arial, Helvetica, Verdana, sans-serif; }
p li {font-family: Arial, Helvetica, Verdana, sans-serif; }

img { border-style: none; }

#map_default { width:95%; height: 600px; border: 1px solid #AFAFB2; margin: 10px; }

#contents{
  width: 100%;
  margin: 0px;
  padding: 8px; 
}
#sidebar{
   background: #c9f5ce;  
   width:165px;
   height:497px;
   float: right;
   background-color:#c9f5ce;
}
#topnav li {font-family: Arial, Helvetica, Verdana, sans-serif; }
#qtopnav, #qtopnavbottom {  background: #c9f5ce;  float: left; width: 100%; 
border-top: 1px solid #ABBCCA;}
#topnav ul, #topnavbottom ul  { float: left;  font-size: 90%; margin: 0px; padding: 0px }
#topnav ul li, #topnavbottom ul li { list-style-type: none; display: inline; margin: 0 }
#topnav ul li a, #topnav ul li .link-on { color: #343D46; font-weight: bold;  text-decoration: none; float: left; padding: 4px 7px; border-right: 1px solid #ABBCCA;  }
#topnav ul li .link-on { color: #3d6e00; background-color: white; border-top: 2px solid #C6DCF0; padding-top: 2px }
#topnav ul li a:hover, #topnavbottom ul li a:hover  { background-color: #3d6e00; color:#ffffff;}

#topnav, #topnavbottom {
    float: left; width: 100%; 
    /* fallback (Opera) */
    background: #c9f5ce;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #c9f5ce, #ffffff);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear, left top, right top, from(#c9f5ce), to(#ffffff));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#c9f5ce', EndColorStr='#FFFFFF', GradientType=1);
    font-family: Arial, Helvetica, Verdana, sans-serif; 
    clear:both;
  }
#content{ float: left; width: 60%; }
#advert{
    width: 30%;
    float: right; 
    /* fallback (Opera) */
    background: #c9f5ce;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #ffffff, #c9f5ce);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#c9f5ce));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#C9F5CE', GradientType=1);
    font-family: Arial, Helvetica, Verdana, sans-serif; 
  }

#topnavbottom p { padding: 0px 7px; color: #3d6e00;}
#breadcrumbs { margin: 8px 0 8px 8px; padding: 0; 
               font-size: 85%; color: #666666; line-height: 1.3;
               font-family: Arial, Helvetica, Verdana, sans-serif; }
#breadcrumbs a:visited, #breadcrumbs-nonav a:visited { color: #0F35AA }

#map { width: 60%; height: 40px; border: 1px solid #AFAFB2; margin: 10px; }
#map:active { height: 700px; }
#hidden { display: none; }

a {color: #B40404; 
   text-decoration: none; 
   outline: none;
}  
a:hover { color: #610B0B; text-decoration: none;}  
a:visited { color: #610B0B; text-decoration: none; outline:none;}  
.darkgreen { color: #343D46; text-decoration: none;}  
.markerinfo { margin: 0px 0px 8px 8px; padding: 0; 
              font-size: 75%; color: #666666; line-height: 1.3; font-weight: normal; }
strong { color: #343D46; text-decoration: none; font-size: 120%; font-weight: bold; margin: 5px 5px 5px 0; background: #c9f5ce; padding: 2px;}  

#whiteadvert { 
   border:1px solid #3d6e00; 
   color: #3d6e00; 
   width:80%;
   float: left;
   background: #ffffff; 
   margin:40px;
   padding:10px;}
#questionadvert {float:left; width:80%; margin:10px;}

fieldset { width: 700px;}
label
{
float: left;
text-align: left;
margin-right: 5px;
display: block
}
.bottomlabel { margin-top: 8px;}

/*** cant get this to work so just use images

#id_location_inputs ol
{
margin-left: -10px;
padding-left: 0;
list-style: none;
}

#id_location_inputs 
{
padding-left: 40px;
background-image: url(/media/marker/greenblank.png);
background-repeat: no-repeat;
background-position: 0 .5em;
}

*/

/* validation */
.error{
    color: #e77776;
    margin-bottom: 10px;
}

/* poll results table */
#id_poll_location_results .odd {background:#ddffee;}
#id_poll_location_results th {color: #3d6e00;}
#id_poll_location_results {font-family: Arial, Helvetica, Verdana, sans-serif; }
#id_poll_date_results th {color: #9E1212;}
#id_poll_date_results .odd {background:#F6CECE;}
#id_poll_date_results {font-family: Arial, Helvetica, Verdana, sans-serif; }
td{padding:15px;}

/* date picker */
#multimonth {
      border: 2px solid #000;
      overflow: auto;
      float: left;
  }
.dp-applied {
    float: left;
 }
table.jCalendar {
    border: none;
}
.dp-popup-inline {
    height: 160px;
 }

button {
  color: #003366;
  background: #ffffff;
  border:1px solid #fff;
  padding: 0px;
  outline: none;
}

.buttonimg, .trigger {
    outline: none; 
} 

